---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      darken(#2a7ae2, 10%);

$grey-color:       darken(#828282, 10%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$black: rgb(8,8,8);
$white: white;

$manilla:          rgb(255,255,200);
$topMost:          99999;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

@import "neat/neat";

html {
  --text-color: $text-color;
  --brand-color: $brand-color;
  --brand-color-dark: darken($brand-color, 15%);
  --grey-color: $grey-color;
  --grey-color-dark: $grey-color-dark;
  --background-color: $background-color;
  --site-title-color: $grey-color-dark;
  --manilla: $manilla;
}

body {
  color:var(--text-color);
  background-color: var(--background-color);
}

#toggle-toc0 {
  margin-top:1em;
}

.site-header, .site-footer {
  transition: all 420ms ease;
  &.heavy, &:hover {
    --background-color: $black;
    --text-color: white;
    --site-title-color: var(--text-color, white);
    --grey-color:rgb(200,200,200);
    --brand-color:white;
    --brand-color-dark:rgb(240,240,240);
    
    background:var(--background-color, $black);
    color:var(--text-color, $black);
    
    @media screen and (max-width: 600px) {
      .site-nav  {
        background:var(--text-color, white);
        
        .page-link {
          color:var(--background-color, $black);  
        }
      }
    }
  }
}

.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; } 

.footer-heading {
  
  
}

.site-title {
  position:relative;
  font-weight:400;
  font-style:italic;
  font-size:2rem;
  line-height:1;
  margin-top:1rem;
  
  @include media(min-width 601px) {
    .icon {
      position:absolute;
      right:calc(100% + 0.2em);
      top:0;
    }
  }
  
  @include media(max-width 600px) {
    float: none;
    text-align: center;
    display:block;
    .icon {
      transform:translateY(0.15em);
    }
  }
}

.balanced {
  text-align:center;
}

iframe[id*="twitter-widget"] {
  margin-top:.5em;
}

aside.subtle {
  max-width:66%;
  margin:2em auto;
  font-style:italic;
  > p {
    &:first-child {
      margin-bottom:0;
    }
  }
}

.grid {
  nav.sidenav {
    p {
      margin:0;
    }
    #toc_ {
      padding:0 0.5rem;
      text-align:center;
    }
    display:none;
    &[aria-hidden="false"] {
      display:block;
    }
    padding:1em 0;
    summary {
      padding:0 .5rem;
    }
  }
  &.toc-shown {
    nav.sidenav {
      //display:block;
    }
    @include media(min-width 641px) {
      display: grid;
      grid-gap: 0;
      max-height:100vh;
      overflow-y: hidden;
      grid-template-columns: 25vw 75vw;
      grid-template-areas: "header header" "sidebar content"; // "footer footer"
      grid-template-rows: auto calc(100vh - 116px);
      main.wrapper {
        margin-left:0;
      }
      header {
        grid-area: header;
      }
      nav.sidenav { 
        grid-area: sidebar;
        overflow-y:auto;
        
        font-size:1rem;
        
        
        
        border-right:1px solid rgb(120,120,120);
        
        h2,h3,h4 {
          font-size:1rem;
        }
        
        .post-link {
          font-size:1em;
        }
      }
      .default.page-content {
        grid-area: content;
        overflow-y:auto;
      }
      .site-footer {
        //grid-area: footer;
      }
    }  
  }
}

/*.page-content {
  &.default {
    height:100
    @include media(min-width 641px) {
      display:flex;
      > nav {
        order:0;
      }
      > main {
        order:1;
      }  
    }
  }
}*/

.assignment {
  background:var(--manilla, $manilla);
  padding:1.5em;
  color:var(--manilla-text-color, darken($manilla, 70%));
  border:1px solid darken($manilla, 60%);
  border-color:var(--manilla-border-color, darken($manilla, 60%));
  margin:2em auto;
  border-radius:0.4em;
  max-width:74%;
  h2,h3 {
    text-align:center;
    font-style:italic;
    font-weight:bold;
  }
  p {
    &:last-child {
      margin-bottom:0;
    }
  }
}

blockquote.legible {
  font-size:1.6rem;
  text-align:center;
}

blockquote .legible {
  font-size:1.6rem;
  display:block;
  //text-align:center;
}

.subtle {
  color:currentColor;
  &.very {
    &:visited {
      color:currentColor;
    }
    &:hover {
      @media (pointer: fine) {
        color:currentColor;
      }
    }
  }
}

.PageNavigation {
  @media screen and (min-width: 641px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    > * {
      margin-bottom:1em;
      &:last-child {
        margin-bottom:0;
      }
    }
  }
}

.site-header {
  z-index:$topMost;
  border-top:2px solid #424242;
  border-bottom:2px solid #424242;
  border-color: var(--text-color);
  
  @media screen and (min-width: 641px) and (min-height: 321px) {
    body.sticky & {
      position:sticky;
      position:-webkit-sticky;
      top:0;
      background:var(--background-color, white);  
    }
  }
}

.site-nav {
  font-size:1.2em;
  max-width:12em;
  margin-left:auto;
  margin-right:auto;
  .menu-icon {
    display: none;
  }
  @include media(max-width 600px) {
    position: static;
    top: auto;
    right: auto;
    float: none;
    text-align: center;
    margin-bottom: 1rem;
    
    .trigger {
      display: block;
      padding-bottom: 0 !important;
    }
  }
  @include media(min-width 601px) {
    max-width:none;
  }
  .page-link {
    line-height: 3;
    margin-left:auto;
    margin-right:auto;
  }
}

.site-nav {
  .page-link {
    color: var(--text-color);
  }
}

.footer-col-wrapper {
  color: var(--grey-color);
}

a {
  color: var(--brand-color);

  &:visited {
    color: var(--brand-color-dark);
  }

  &:hover {
    @media (pointer: fine) {
      color: var(--text-color);
    }
  }
}

.site-title {
  &,
  &:visited {
    color: var(--site-title-color);
  }
}

code, pre, .mono {
  font-family: 'Fira Mono', monospace;
}

.post-list {
  li {
    padding:.5em;
    &:target, &.active {
      background:$manilla;
      background:var(--manilla);
      outline:2px solid $brand-color;
      outline:2px solid var(--brand-color);
      //outline-offset:.5em;
      h2,h3 {
        a {
          font-weight:bold;
        }
      }
    }
  }
}

summary {
  margin-bottom:1em;
  details[open] & {
    margin-bottom:0;
  }
  h1,h2,h3,h4,h5,h6 {
    display:inline;
  }
}

.icon svg, svg.icon {
  path {
    fill: var(--grey-color);
  }
}

.post-meta {
  color: var(--grey-color);
}

img {
  height: auto;
}

figure {
  text-align: center;
  img {
    border:1px solid var(--grey-color);
    margin-left:auto;
    margin-right:auto;
  }
}

figcaption {
  margin-top: 0.5em;
  text-align: center;
  color: var(--grey-color);
  font-style: italic;  
  font-size: 1.2rem;
}

body .gist .gist-file {
  margin-bottom:2em;
}

.cp_embed_iframe {
  margin-bottom:1em;
}

.twitter-tweet {
  margin-bottom:1em !important;
}

iframe[id*="twitter-widget"] {
  margin-right:auto !important;
  margin-left:auto !important;
}

.post-header {
  aside {
    @media screen and (min-width: 641px) {
      float:right;
    }
  }
}

.written-by {
  @media screen and (min-width: 641px) {
    float:left;
  }
}

.post-list {
  > li {
    margin-bottom:0;
    h2,h3 {
      margin-bottom:0;
    }
  }
}

.post-header {
  @include outer-container;
}

.container {
  @include outer-container;
}

#toggle-toc {
  margin-top:1em;
}

body.loaded {
  font-family: 'Fira Sans', sans-serif;
}

.post-link {
  font-size:1.5em;
}

.page-content {
  padding-bottom:0;
}

main.wrapper {
  padding-bottom:30px;
}
