---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Fira Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$black: rgb(8,8,8);
$white: white;

$manilla:          rgb(255,255,200);

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

@import "neat/neat";

html {
  --text-color: $text-color;
  --brand-color: $brand-color;
  --brand-color-dark: darken($brand-color, 15%);
  --grey-color: $grey-color;
  --grey-color-dark: $grey-color-dark;
  --background-color: $background-color;
  --site-title-color: $grey-color-dark;
  --manilla: $manilla;
}

body {
  color:var(--text-color);
  background-color: var(--background-color);
}

.site-nav {
  .page-link {
    color: var(--text-color);
  }
}

.footer-col-wrapper {
  color: var(--grey-color);
}

a {
  color: var(--brand-color);

  &:visited {
    color: var(--brand-color-dark);
  }

  &:hover {
    color: var(--text-color);
  }
}

.site-title {
  &,
  &:visited {
    color: var(--site-title-color);
  }
}

code, pre, .mono {
  font-family: 'Fira Mono', monospace;
}

.post-list {
  li {
    padding:.5em;
    &:target {
      background:$manilla;
      background:var(--manilla);
      outline:2px solid $brand-color;
      outline:2px solid var(--brand-color);
      //outline-offset:.5em;
      h2,h3 {
        a {
          font-weight:bold;
        }
      }
    }
  }
}

summary {
  margin-bottom:1em;
  details[open] & {
    margin-bottom:0;
  }
  h2,h3 {
    display:inline;
  }
}

.icon svg, svg.icon {
  path {
    fill: var(--grey-color);
  }
}

.post-meta {
  color: var(--grey-color);
}

img {
  height: auto;
}

figure {
  text-align: center;
  img {
    border:1px solid var(--grey-color);
    margin-left:auto;
    margin-right:auto;
  }
}

figcaption {
  margin-top: 0.5em;
  text-align: center;
  color: var(--grey-color);
  font-style: italic;  
  font-size: 1.2rem;
}

body .gist .gist-file {
  margin-bottom:2em;
}

.cp_embed_iframe {
  margin-bottom:1em;
}

.twitter-tweet {
  margin-bottom:1em !important;
}

iframe[id*="twitter-widget"] {
  margin-right:auto !important;
  margin-left:auto !important;
}

.post-header {
  aside {
    @media screen and (min-width: 641px) {
      float:right;
    }
  }
}

.written-by {
  @media screen and (min-width: 641px) {
    float:left;
  }
}

.post-list {
  > li {
    margin-bottom:0;
    h2,h3 {
      margin-bottom:0;
    }
  }
}

.post-header {
  @include outer-container;
}
